{% extends "base.html.twig" %}

{% block page_title %}{{ trans('register')}}{% endblock page_title %}
{% block page_content %}
<main>
   <form action="{{ route('app_submit_inscription') }}" id="form-access" class="center" method="post" enctype="multipart/form-data">
      <fieldset>
         <legend>{{ trans('register')}}</legend>
            <div class="access-container">
               <label for="login">{{ trans('login')}}</label>
               <p class="help-input-form">{{ trans('login_characters')}}</p>
               <input id="login" type="text" name="login" minlength="4" maxlength="20" {% if login %}value="{{ login }}"{% endif %}required/>
            </div>
            <div class="access-container">
               <label for="password">{{ trans('password')}}</label>
               <p class="help-input-form">{{ trans('password_characters')}}</p>
               <input id="password" type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$" required/>
            </div>
            <div class="access-container">
               <label for="mail">{{ trans('mail')}}</label>
               <input id="mail" type="email"name="adresseMail" {% if adresseMail %}value="{{ adresseMail }}"{% endif %} required/>
            </div>
            <div class="access-container">
               <label for="profile-pic">{{ trans('profile_picture')}}</label>
               <input required type="file" id="profile-pic" name="profilePicture" accept="image/png, image/jpeg">
             </div>
            <input id="access-submit" type="submit" value="S'inscrire">
      </fieldset>
   </form>
</main>


{% endblock page_content %}