{% extends "base.html.twig" %}

{% block page_title %}{{ trans('page_of')}} {{ utilisateur.getLogin() }}{% endblock page_title %}

{% block page_content %}
    <main id="the-feed-main">
        <div id="feed">

            {% if sondages %}
                <p id="no-publications" class="center">{{ trans('my_sondages')}}</p>

                {% for sondage in sondages %}
                    <div class="feedy">
                        <div class="feedy-header">
                            <img class="avatar" src=" {{ asset('img/utilisateurs/' ~ sondage.getUtilisateur().getProfilePictureName()) }}" alt="{{ trans('user_avatar')}}">
                            <div class="feedy-info">
                                <span>{{ sondage.getUtilisateur().getLogin() }}</span>
                                <p>{{ trans('sondage_title')}} : {{ sondage.getTitre() }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p id="no-publications" class="center">{{ trans('no_sondage')}}</p>
            {% endif %}

        </div>
    </main>
{% endblock page_content %}