<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block page_title %}{% endblock page_title %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href=" {{ asset('css/styles.css') }}">
</head>
<body>
  <header>
    <div id="titre" class="center">
        <a href="{{route('app_feed')}}"><span>The Feed</span></a>
        <nav>
              <a href="{{ route("app_feed") }}">{{ trans('homepage')}}</a>
              {%  if session.get('id') %}
                  <a href="{{ route("app_create_sondage") }}">{{ trans('sondage.create')}}</a>
                  <a href="{{ route("app_page_perso", {"idUtilisateur": session.get('id')}) }}">{{ trans('my_account')}}</a>
                  <a href="{{ route("app_submit_deconnexion") }}">{{ trans('signout')}}</a>
              {% else %}
                  <a href="{{ route("app_list_sondages") }}">{{ trans('watch')}}</a>
                  <a href="{{ route("app_inscription") }}">{{ trans('register')}}</a>
                <a href="{{ route("app_connexion") }}">{{ trans('signin')}}</a>
              {% endif %}
        </nav>
    </div>
  </header>
     
  <div id="flashes-container">
  {% for flash in session.consumeFlashes('success') %}
      <span class="flashes flashes-success">{{ flash }}</span>
  {% endfor %}
  {% for flash in session.consumeFlashes('error') %}
      <span class="flashes flashes-error">{{ flash }}</span>
  {% endfor %}
  </div>
   
  {% block page_content %}{% endblock page_content %}
</body>
</html>