   
{% extends "base.html.twig" %}

{% block page_title %}{{ trans('signin')}}{% endblock %}

{% block page_content %}
 <main>
     <form action="{{ route('app_submit_sondage') }}" id="form-access" class="center" method="post">
         <fieldset>
             <legend>{{ trans('new_sondage')}}</legend>
             <div class="access-container">
                 <label for="titre">{{ trans('title')}}</label>
                 <input id="titre" style="color:black" type="text" name="titre"/>
             </div>
             <input id="access-submit" type="submit" value="{{ trans('create')}}">
         </fieldset>
     </form>
 </main>
{% endblock %}
   

